{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "one-var": 0,
    "func-names": 0,
    "func-style": 0,
    "sort-keys": 0,
    "sort-imports": 0,
    "capitalized-comments": 0
  },
  "plugins": ["html"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  }
}
